.about-page {

    .text-zone {
            color: #494949;
            margin-top: 20px;
            font-weight: 40px;
            font-size: 15px;
            font-family: serif;
            letter-spacing: 3px;
    }

    p {
        color: #494949;
        margin-top: 20px;
        font-weight: 40px;
        font-size: 15px;
        font-family: sans-serif;
        letter-spacing: 3px;
    }
}